* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-anchor: none;
    cursor: none;
    -webkit-user-drag: none;
}

:root {
    --backgroundColor: black;
}

.incercare {
    display: none;
}

.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    mix-blend-mode: difference;
    transition: opacity 0.2s, height 0.2s ease, width 0.2s ease;
    z-index: 999;
}


/*Nav Bar*/
header {
    opacity: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 99;
    font-family: 'Poppins';
    animation: fadeIn 0.5s ease forwards 3s;
}

.nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLink {
    position: relative;
    margin: 0 50px;
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.navLink:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--backgroundColor);
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
    opacity: 1;
}

.navLink:hover:after {
    transform: scaleX(1);
}

/*Apply styles after scroll*/
.scrollingActive {
    background-color: black;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrollNavLinks {
    color: white;
}


/*Stars Background*/
.heroWallpaper {
    height: 100vh;
    display: block;
    background: white;
    position: relative;
    overflow: hidden;
}


/*Hero Title*/
#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#title p {
    transform: translate(0, 100%);
    animation: flyUp 0.75s ease forwards 2.15s;
    color: black;
    font-size: 400px;
    font-family: 'Dancing Script', cursive;
}


/*Hero Content*/
.heroContent {
    height: 100%;
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 350px;
    position: relative;
}



/*Responsive*/
@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 75px;
    }
    
    .nav {
        height: 5rem;
        display: flex;
        align-items: center;
        margin: 0 50px;
    }
    
    .nav-list {
        display: none;
    }

    .navLink:after {
        display: none;
    }
    
    .burger {
        display: block;
    }

    .incercare {
        width: 100%;
        height: 50%;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
        background-color: rgba(48, 48, 48, 0.5);
        box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
    }
    
    .incercare li {
        opacity: 1;
        list-style: none;
        padding: 50px 0;
    }
    
    .incercare a {
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        font-size: 2rem;
        font-family: 'Poppins';
        letter-spacing: 2px;
    }
    
    .incercare-activ {
        transform: translateY(0%);
    }
}





.toggle .line1 {
    transform: rotate(-45deg) translate(-3.5px, 5px);
}

.toggle .line2 {
    transform: rotate(45deg) translate(-3.5px, -5px);
}



/*Animations*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes flyUp {
    from {
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}