* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    -webkit-user-drag: none;
    user-select: none;
}

.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    mix-blend-mode: difference;
    transition: opacity 0.2s;
    z-index: 999;
}

body {
    background: black;
}


/* Go Back Text */
.goBackBox {
    width: 200px;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;
}

.goBackBox p {
    color: #757575;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    transition: color 0.2s;
}

#arrowLeft {
    height: 30px;
    fill: #757575;
    transition: fill 0.2s;
}

.goBackBox:hover p {
    color: #E3E3E3;
}

.goBackBox:hover #arrowLeft {
    fill: #E3E3E3;
    animation: goLeftRight 1s infinite alternate;
}

/* Div Photo + Div Text Wrapper */
.photoAndTextWraper {
    margin: 350px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div with Photo */
.photoBox {
    height: 800px;
    width: 400px;
    background: black;
    border: 5px solid #757575;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoBox svg {
    height: 200px;
    width: 200px;
    fill: #181818;
}

/* Div with Text and SVG */
.textWithLinksBox {
    margin-left: -100px;
    height: 500px;
    width: 900px;
    background: #313131;
    border-radius: 50px;
    position: relative;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.textWithLinksBox p {
    color: #9D9D9D;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin: 50px 0;
    text-align: center;
}

.textWithLinksBox ul li {
    color: #9D9D9D;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    margin-left: 200px;
}

.svgFlex {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 25px);
}

.svgFlex svg {
    transition: filter 0.25s ease;
    fill: #E3E3E3;
    height: 25px;
    width: 25px;
}

.svgFlex svg:hover {
    filter: drop-shadow(0 0 2px #E3E3E3);
}


/* Grid Image Gallery */
.gridProjects {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(5, 300px);
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 350px;
}

.largeImage {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
    grid-row: span 2;
    grid-column: span 2;
}

.largeImage:nth-child(1) {
    background: url('../Images/IllusG1.jpg');
    background-size: 100% 100%;
}

.largeImage:nth-child(4) {
    background: url('../Images/IllusG4.jpg');
    background-size: cover;
}

.longImage {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
    grid-row: span 1;
    grid-column: span 3;
}

.longImage:nth-child(2) {
    background: url('../Images/IllusG2.jpg');
    background-size: 100% 100%;
}

.longImage:nth-child(5) {
    background: url('../Images/IllusG5.png');
    background-size: 100% 100%;
}

.squareImage {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
    grid-row: span 1;
    grid-column: span 1;
    background: url('../Images/IllusG3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Mobile Responsive */
@media screen and (max-width: 1280px) {
    * {
        cursor: auto;
    }
    
    .cursor {
        display: none;
    }


    /* Go Back Text */
    .goBackBox {
        width: 200px;
        position: absolute;
        top: -150%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        z-index: 999;
    }
    
    .goBackBox p {
        color: #757575;
        font-size: 40px;
        font-family: 'Indie Flower', cursive;
        text-align: center;
        transition: color 0.2s;
    }
    
    #arrowLeft {
        height: 30px;
        fill: #757575;
        transition: fill 0.2s;
    }
    
    .goBackBox:hover p {
        color: #E3E3E3;
    }
    
    .goBackBox:hover #arrowLeft {
        fill: #E3E3E3;
        animation: goLeftRight 1s infinite alternate;
    }
    
    /* Div Photo + Div Text Wrapper */
    .photoAndTextWraper {
        margin: 350px 50px 700px 50px;
        flex-direction: column;
        position: relative;
    }
    
    /* Div with Photo */
    .photoBox {
        height: 125px;
        width: 125px;
        border-radius: 50%;
    }
    
    .photoBox svg {
        height: 75px;
        width: 75px;
    }
    
    /* Div with Text and SVG */
    .textWithLinksBox {
        margin-left: 0px;
        height: 500px;
        width: 300px;
        border-radius: 25px;
        position: absolute;
        top: 50%;
    }
    
    .textWithLinksBox p {
        font-size: 40px;
        margin: 75px 0 50px 0;
    }
    
    .textWithLinksBox ul li {
        font-size: 20px;
        margin: 0 50px;
    }
    
    .svgFlex {
        grid-gap: 15px;
    }
    
    .svgFlex svg {
        height: 20px;
        width: 20px;
    }
    

    /* Grid Image Gallery */
    .gridProjects {
        grid-template-rows: repeat(14, 75px);
        grid-template-columns: repeat(4, 75px);
        grid-gap: 10px;
    }

    .largeImage {
        grid-row: span 4;
        grid-column: span 4;
    }
    
    .longImage {
        grid-row: span 2;
        grid-column: span 4;
    }

    .longImage:nth-child(5) {
        grid-row: 9 / span 2;
        grid-column: span 4;
    }
    
    .squareImage {
        grid-row: 7 / span 2;
        grid-column: 2 / 4;
    }
}


/* Animations */
@keyframes goLeftRight {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -25px;
    }

    100% {
        margin-left: 25px;
    }
}
